@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .bg-color {
    @apply bg-gradient-to-br from-[#B6B09F] via-[#F2F2F2] to-orange-100;
  }

  .dropdown {
    @apply border-b border-gray-200 mb-2 hover:bg-[#EAE4D5] py-2 px-1;
  }
}
